<div class="container p-2 ">
    <div class="jumbotron w-75 m-auto d-flex flex-column">
    <div id="messagesPool"></div>
    <form id="messageForm" style="margin-top: 1em" class="d-flex flex-column align-self-center justify-content-center w-100">
        <div class="d-flex justify-content-between">
        <input id="usernameInput" type="email" placeholder="Ingrese su e-mail" />
        <input id="messageInput" type="text" placeholder="Mensaje" style="width: 65%;"/>
        </div>
        <input type="submit" value="Enviar" style="width: 20%;" class="btn btn-secondary mt-3 align-self-end"/>
    </form>
    </div>
</div>